<div class="people">
  <div class="people-filter">
    <input class="people-filter-input" type="text" placeholder="search" />
    <span class="people-filter-icon fa fa-search"></span>
  </div>
  <ul class="people-list">
    @foreach(var person in people)
    {
      <Person
        AvatarUrl="@person.AvatarUrl"
        LastSeen="@person.LastSeen"
        Name="@person.Name"
        Status="@person.Status"
      />
    }
  </ul>
</div>

@code {
    private Person[] people = new []
    {
      new Person
      {
        AvatarUrl = "https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg",
        LastSeen = "",
        Name = "Vincent Porter",
        Status = "online"
      },
      new Person
      {
        AvatarUrl = "https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_02.jpg",
        LastSeen = "left 7 mins ago",
        Name = "Aiden Chavez",
        Status = "offline"
      }
    };

    public class Person
    {
        public string AvatarUrl { get; set; }

        public string LastSeen { get; set; }

        public string Name { get; set; }

        public string Status { get; set; }
    }
}
