<div class="dialog">
  <h1>Signin</h1>

  <EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label>
      <InputText
        type="email"
        placeholder="Email"
        @bind-Value="@model.Email"
      />
    </label>

    <label>
      <InputText
        type="password"
        placeholder="Password"
        @bind-Value="@model.Password"
      />
    </label>

    <footer>
      <button type="submit">Sign in</button>

      <p>Not registered yet?</p>

      <button @onclick="ClickSignup">Sign up</button>
    </footer>
  </EditForm>
</div>

@code {
    private readonly SignInModel model = new SignInModel();

    [Parameter]
    public EventCallback ClickSignup { get; set; }

    [Parameter]
    public EventCallback<SignInModel> HandleSignin { get; set; }

    private async Task HandleValidSubmit()
    {
        if (HandleSignin.HasDelegate)
        {
            await HandleSignin.InvokeAsync(model);
        }
    }
}