<li class="person">
  <img
    class="person-avatar"
    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg"
    alt="avatar"
  />
  <div class="person-about">
    <div class="person-name">@User.Name</div>
    <div class="person-status">
      <span class="status-icon--@User.GetStatus() fa fa-circle"></span>
      @if (@User.IsOnline)
      {
        <span class="status-text">@User.GetStatus()</span>
      }
      else
      {
        <span class="status-text">@User.LastSeen</span>
      }
    </div>
  </div>
</li>

@code {
    [Parameter]
    public IPerson User { get; set; }
}
