<li class="message--@Direction">
  <div class="message-data">
    @if (@Direction == "outgoing")
    {
      <span class="message-data-time">@Timestamp</span>
      <span class="message-data-name">@From</span>
      <span class="status-icon-viewer fa fa-circle"></span>
    }
    else
    {
      <span class="status-icon--@Status fa fa-circle"></span>
      <span class="message-data-name">@From</span>
      <span class="message-data-time">@Timestamp</span>
    }
  </div>
  <div class="message-text">
    @Text
  </div>
</li>

@code {
    [Parameter]
    public string From { get; set; }

    [Parameter]
    public string Direction { get; set; }

    [Parameter]
    public string Status { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Timestamp { get; set; }
}
