@inject IChatClient ChatClient

<div class="people">
  <div class="people-filter">
    <input class="people-filter-input" type="text" placeholder="search" />
    <span class="people-filter-icon fa fa-search"></span>
  </div>
  <ul class="people-list">
    @if (operation?.Data?.People?.Nodes != null)
    {
      @foreach (var person in operation.Data.People.Nodes)
      {
        <Person
          @key="person"
          AvatarUrl="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg"
          LastSeen="yesterday"
          Name="@person.Email"
          Status="online"
        />
      }
    }
  </ul>
</div>

@code {
    private IOperationResult<IPeople>? operation;

    protected override async Task OnInitializedAsync()
    {
        operation = await ChatClient.PeopleAsync();
        StateHasChanged();
    }
}
