<div class="spinner-centered">
  <div class="spinner">
    <div class="spinner-quater"></div>
    <div class="spinner-quater"></div>
    <div class="spinner-quater"></div>
    <div class="spinner-quater"></div>
  </div>
</div>