@inject IChatClient ChatClient

<div class="chat">
  <Header />
  <div class="chat-history">
    <ul class="messages">
      @if (IsLoading)
      {
        <div>Loading...</div>
      }
      else if (User != null && Messages?.Nodes == null)
      {
        <div>No Messages...</div>
      }
      else if (User != null && Messages?.Nodes != null)
      {
        @foreach (var message in Messages.Nodes)
        {
          <ChatMessage
            Message="@message"
            Person="@User"
          />
        }

        @if (isSenderTyping)
        {
          <TypingIndicator />
        }
      }
      else
      {
        <div>No Chat selected...</div>
      }
    </ul>
  </div>
  <Footer />
</div>

@code {
    private bool isSenderTyping = true;

    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public IMessageConnection? Messages { get; set; }

    [Parameter]
    public IPerson? User { get; set; }
}
