@inject IChatClient ChatClient

<div class="chat">
  @if (Recipient != null)
  {
    <Header Recipient="@Recipient" />
  }

  <div class="chat-history">
    @if (IsLoading)
    {
      <Info Text="Loading..." />
    }
    else if (Recipient != null && Recipient?.Messages?.Nodes == null)
    {
      <Info Text="Start writing messages..." />
    }
    else if (Recipient != null && Recipient?.Messages?.Nodes != null)
    {
      <ul class="messages">
        @foreach (var message in Recipient?.Messages.Nodes)
        {
          <ChatMessage
            Message="@message"
            Sender="@message.Sender"
          />
        }

        @if (_isSenderTyping)
        {
          <TypingIndicator />
        }
      </ul>
    }
    else
    {
      <Info Text="Select a person to start a chat..." />
    }
  </div>

  @if (Recipient != null)
  {
    <Footer />
  }
</div>

@code {
    private bool _isSenderTyping = true;

    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public IRecipient? Recipient { get; set; }
}
