@inject IChatClient ChatClient

<div class="chat">
  <Header />
  <div class="chat-history">
    <ul class="messages">
      @if (IsLoading)
      {
        <div>Loading...</div>
      }
      else if (Recipient != null && Recipient?.Messages?.Nodes == null)
      {
        <div>No Messages...</div>
      }
      else if (Recipient != null && Recipient?.Messages?.Nodes != null)
      {
        @foreach (var message in Recipient?.Messages.Nodes)
        {
          <ChatMessage
            Message="@message"
            Sender="@message.Sender"
          />
        }

        @if (isSenderTyping)
        {
          <TypingIndicator />
        }
      }
      else
      {
        <div>No Chat selected...</div>
      }
    </ul>
  </div>
  <Footer />
</div>

@code {
    private bool isSenderTyping = true;

    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public IRecipient? Recipient { get; set; }
}
